html {
	margin:0;
	padding:0;
}
body {
	background-image: url("icons/bg4.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	margin: 0;
	paddin: 0;
	overflow: auto;
	cursor:;
	
}
.main {
	width: 1400px;
	height: 1076;
	margin: 0 auto;
	background-color: #fafafa;
	overflow: hidden;
	font-family: lato;

}
img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}
.left1 {
	background-color: #1077d2;
	float: left;
	width: 80px;
	height: 1076px;
  position: fixed;
}
ul {
	border: 0px solid yellow;
    list-style: outside none none;
    padding: 34px 25px 0px 25px;
  	margin: 0px;
  
}

.left1 ul li {
	float:left;
	border: 0px solid yellow;
	padding: 16px 24.5px 16px 24.5px;
	margin: 0px 0px 0px -24px
	}
.left1-icon:hover {
	background-color: none; 
	border-bottom: 3px solid #3ed2fd;
	color: #1e88e5;
	padding: 16px 24.5px 13px 24.5px;
	margin: 0px 0px 0px -24px;
}

#menu {
	border: 0px solid yellow;
	padding: 0px 0px 0px 0px;
	margin: -3px 0px 129px -10px;
}
#menu:hover {
	background-color: #1077d2;
	box-shadow: 4.5px rgba(0, 0, 0, 0.09);
	border-radius: 10%;
	border: 1px solid #00c6ff;
}
#dashboard-boarder-radius {
	background-color: #1e88e5;
    border-radius: 22px 0px 0px 22px;
    border: 0px solid yellow;
    padding: 9px 23px 9px 14px;
    margin: 0px 0px 18px -11px;
	
}

.left2 {
	border: 0px solid yellow;
	width: 257px;
	background-color: #1e88e5;
	height: 1076px; 
  position: fixed;
	margin: 0 0 0 80;
}
#profilepicture {
	padding: 0 px;
	margin: 52px 80px 0px 80px;
	border-radius: 100%;
	border: 0px solid yellow;
}
#name,p {
	margin: 5px 110px 0px 101px; 
	padding: 0px 0px 0xp 0px;
	font-family: lato;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px; 
	color: blue;
	border: 0px solid yellow;
}
#location {
	margin: 2px 80px 0px 91px; 
	padding: 0px;
	text-transform: none;
	font-family: lato;
	font-weight: 300; 
	font-size: 12.25px;
	color: #f3f4f4;
	border: 0px solid yellow;
}

.sub-menu {
	border: 0px solid green;
	ffloat:left;
	padding: 19px 0px 19px 32px;
	margin: 0px -25px 0px -25px;
	list-style: none;
	color: white;
	font-family: lato;
	font-weight: light;
	font-size: 13.12 px;
}
.sub-menu:hover {
	background-color: #ecf6ff;
	color: #1e88e5;
}

#main-menu {
	color: white;
	font-family: lato;
	font-weight: 500;
	text-transform: uppercase;
	border: 0px solid yellow;
	padding: 16px 0px 17px 13px ;
	margin: 5px -25px 0px -25px;
	background-color: none;
}
#sub-menu-document {
	color: white;
	font-family: lato;
	font-weight: 500;
	padding: 19px 0px 19px 32px;
	margin: 0px -25px 0px -25px;
	background-color: #3ea4fd;
	border: 0px solid yellow;
}

.notification-number1 {
	list-style: none;
	color: white;
	font-family: lato;
	font-weight:semibold;
	font-size: 13.12px;
	background-color: #3ed2fd;
	border: 0px solid yellow;
	border-radius: 6px 6px 6px 6px;
	padding: 1px 13px 1px 13px;
	margin: -305px 0px 0px 175px;
}
.notification-number2 {
	list-style: none;
	color: white;
	font-family: lato;
	font-weight:semibold;
	font-size: 13.12px;
	background-color: #3ed2fd;
	border: 0px solid yellow;
	border-radius: 6px 6px 6px 6px;
	padding: 1px 0px 1px 8px;
	margin: 98px 0px 0px 175px;
}
#head {
	border: 0px solid yellow;
	position: fixed;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 337px;
}
.header-logo {
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
	margin: 0px;
	position: fixed;
}
#logo {
	border: 0px solid yellow;
	padding: 0px;
	margin: 14px 0px 10 34px;
	image-rendering: inherit;
}
#header-date{
	color: #5b5b5b;
	font-family: lato;
	font-size: 12.25px;
	font-weight: 300;
	border: 0px solid yellow;
	padding: 0px ;
	margin: 34px 180px 34px 458px;
	float:right;
	
}
#drop-down-icon{
	border: 0px solid yellow;
	padding: 0px ;
	margin: 37px -618px 0px 618px;
	float:right;
	
}
#alarm {
	border: 0px solid green;
	padding: 0px ;
	margin: 30px -687px 0px 690px;
	float:right;
	
}
#items-name {
    border-bottom: 1px solid rgba(30, 136, 229, .24);
    margin: 0 0 0 0px;
	padding: 0px 177px 0px 103px;
	background-color: #ffffff;
	z-index: 0;
	
}
.resources, .code, .scale, .settings, .deploy{
    border: 0px solid yellow;
    color: #5b5b5b;
    display: inline-flex;
    font-family: lato;
    font-size: 17.5px;
    list-style: outside none none;
    margin: 82 28.5 -1.5 0px;
 

}
.resources:hover,.scale:hover, .settings:hover, .deploy:hover{
	background-color:#1e88e5;
	color: #ffffff;
}
.resources{
	padding:20.5px 4;
	border-bottom: 0px solid #1e88e5;
}

.code{
	padding:20.5px 21px 19.065px 21px;
	border-bottom: 2.63px solid #1e88e5;
}
.scale{
	padding:20.5px 23.5 21.5px 23.5;
	border-bottom: 0px solid #1e88e5;
}
.settings{
	padding:20.5px 13.5;
	border-bottom: 0px solid #1e88e5;
}
.deploy{
	padding:20.5px 13.5;
	border-bottom: 0px solid #1e88e5;
}
.fa-sliders {
    border: 1px solid yellow;
    font-size: 21.87px;
    margin: -2px 0 2px;
    padding: 0 18px 0 0;
}
.fa-sliders {
    border: 0px solid yellow;
    font-size: 21.87px;
    margin: -2px 0 2px;
    padding: 0 18px 0 0;
}
.fa-code {
    border: 0px solid yellow;
    font-size: 21.87px;
    margin: -2px 0 2px;
    padding: 0 18px 0 0;
}
.fa-balance-scale {
    border: 0px solid yellow;
    font-size: 17.5px;
    margin: -2px 0 2px;
    padding: 4.34px 18px 0 0;
}
.fa-cog {
    border: 0px solid yellow;
    font-size: 21.87px;
    margin: -2px 0 2px;
    padding: 0 18px 0 0;
}
.fa-cloud-upload {
    border: 0px solid yellow;
    font-size: 21.87px;
    margin: -2px 0 2px;
    padding: 0 18px 0 0;
}

#type-app-name {
   padding: 0px;
	 margin: 230px 0px 0px 441px;
	 border: 0px solid green;
}


#check {
	border: 0px solid black;
	margin: -29px 315px 0px 1065px;
	padding: 5px 5px 5px 5px;
	color: #00b025;
	font-size: 18.87;
}

input[type=text] {
	background-color: white;
	border: 1px solid #00b025;
	border-radius: 2px;
	box-sizing: content-box;
	padding: 2px 0px 2px 10px;
	height: 22px;
	width: 525px;
	margin: 0px 0px 0px 10px;
	font-family: lato; 
	font-size: 15px;
	font-weight: 500;
	color: black; 
}
label[for=app_name] {
	color:red;
	color: #5b5b5b;
	text-transform:none;
	font-weight: 300;
	font-size: 21.87px;
  
}
#get-started {
	border: 0px solid black;
	margin: 87px 840 28px 441px;
	color: #5b5b5b;
	text-transform:none;
	font-weight: 300;
	font-size: 21.87px;

}
#language-list1 ul {
	border: 0px solid yellow;
	margin: 0px 0px 0px 441px;
	padding: 0px;
	display: inline-flex;
	font-weight: 200;
}
.php-icon {
	padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
 
}
.php-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#php {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 47px 10px 74px;
	margin:  -155px -47px 0px -47px;
	font-size: 21.87px ;
	font-weight: 500;
}
.java-icon{
  padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
}
.java-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#java {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 47px 10px 69px;
	margin:  -155px -47px 0px -47px;
	font-size: 21.87px;
	font-weight: 500;
}
.python-icon {
	padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
}
.python-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#python {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 47px 10px 55px;
	margin:  -155px -47px 0px -50px;
	font-size: 21.87px ;
	font-weight: 500;
}
.ruby-icon {
	padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
}
.ruby-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#Ruby {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 47px 10px 69px;
	margin:  -155px -47px 0px -47px;
	font-size: 21.87px ;
	font-weight: 500;
}
#language-list2 ul {
	border: 0px solid yellow;
	margin: 0px 0px 0px 441px;
	padding: 0px;
	display: inline-flex;
	text-transform: none;
}
.java-script-icon {
	padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
}
.java-script-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#java-script {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 21px 10px 35px;
	margin:  -155px -48px 0px -48px;
	font-size: 21.87px;
	font-weight: 500;
}
.go-icon {
	padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
}
.go-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#go {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 47px 10px 80px;
	margin:  -155px -47px 0px -47px;
	font-size: 21.87px ;
	font-weight: 500;
}
.c-icon {
	padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
}
.c-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#c {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 47px 10px 79px;
	margin:  -155px -47px 0px -47px;
	font-size: 21.87px ;
	font-weight: 500;
}
.swift-icon {
	padding:48px 47px 0px 47px;
	margin: 0px 24px 24px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(167, 214, 255);
	border-radius: 10px;
	background-color: rgb(251, 251, 251);
	box-shadow: 2px 3.464px 10px 0px rgba(1, 69, 128, 0.059);
}
.swift-icon:hover{
	box-shadow: 0px 0px 6.51px 0.49px rgba(0, 195, 255, 0.4);
}
#swift {
	border: 0px solid green;
	color: #5b5b5b;
	padding: 165px 47px 10px 65px;
	margin:  -155px -47px 0px -47px;
	font-size: 21.87px;
	font-weight: 500;
}
.footer ul {
	display: inline-flex;
	list-style: none;
	border: 0px solid green;
	margin: 100px 0px 0px 441px;
	padding: 0px;
	color: black;
}
#technology {
	border: 0px solid black;
  color: #5b5b5b;
	font-size: 21.87px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
#python-item {
	border: 0px solid black;
	color: #5b5b5b;
	font-size: 19.87px;
	text-transform: none;
	font-family: lato;
	font-weight: 500;
	padding: 0;
	margin: 0px 40px 0px 11px ;
}
#up-arrow {
	border: 0px solid black;
	color: #5b5b5b;
	font-size: 21.87px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	margin: 4px 13px -22px 0px;
}
#quantity {
	border: 0px solid black;
	color: #1e88e5;
	font-size: 21.87px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	margin: 0px 13px 0px 0px;
}
#down-arrow {
	border: 0px solid black;
	color: #5b5b5b;
	font-size: 21.87px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	margin: 4px 40px -5px 0px;
}
#size {
	border: 0px solid black;
	color: #5b5b5b;
	font-size: 21.87px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	margin: 0px 13px 0px 0px;
}
#drop-arrow {
	border: 0px solid black;
	color: #5b5b5b;
	font-size: 21.87px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	margin: 0px 40px 0px 0px;
}
#dollar {
	border: 0px solid black;
	color: #1e88e5;
	font-size: 21.87px;
	text-transform: none;
	font-weight: 600;
	padding: 0;
	margin: 0;
}
#per-m {
	border: 0px solid black;
	color: #1e88e5;
	font-size: 14.65px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
	margin: 8 9 0 2 ;
}
#dollar-h {
	border: 0px solid black;
	color: #5b5b5b;
	font-size: 14.65 px;
	text-transform: none;
	font-weight: 400;
	padding: 0;
  margin: 7 9 0 2 ;
}
#create-app {
	border: 0px solid black;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 20;
	margin: -20 -22 -20 130;
	border-radius: 4px;
  background-color: rgb(31, 136, 229);
}
#create-app:hover {
	box-shadow: 0px 4.33px 7px 2.5px rgba(0, 0, 0, 0.0);
	border: 0px solid #3ed2fd;
	background-image: -moz-linear-gradient( 90deg, rgb(30,136,229) 0%, rgb(62,210,253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(30,136,229) 0%, rgb(62,210,253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(30,136,229) 0%, rgb(62,210,253) 100%);
}
